*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;}
body{
  background: black;
  font-family:  Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  
  }
body::before{
 content: "";
 position:absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 1015px;
 background-image:url(../Assets/images/netflix\ background.jpg) ;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 opacity: 0.45;
 z-index: -1;
}
.netflix-h{
  margin-left: 20px;
  width: 180px;
  padding: 25px 0px;
  }
article{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:450px;
  height: 650px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  margin-top: 50px;
  font-size: 0.8rem;
}
 h1{
  color: white;
  font-size: 32px;
  font-weight: 500;
  padding-top: 50px;
  
  
}
.login-form-container{
  display: flex;
  flex-direction:column;
  padding: 0 70px 0;
  
  
 }
.form-control{
  position: relative;}
.form-control input{
  display: block;
  margin:18px 0 ;
  padding:16px 20px;
  width: 100%;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: (rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;}
  

.form-control label{ 
  position: absolute;
  top: 30%;
  left: 20px;
  z-index:35;
  color: #333;
  pointer-events: none;
  font-size: 0.9rem;
  transition: all 0.1s ease-in-out;
}
.form-control input:is(:valid){
  background:rgba(130, 124, 124, 0.7)

 
  
}
.form-control input:is(:focus,:valid)~label{
  transform: translateY(-80%);
  font-size: 0.75rem;
  color: #838080;
}
.login-content button{
  border-radius: 4px;
  font-size: 16px;
  font-weight:700;
  margin: 35px 0 12px;
  padding: 16px;
  display: block;
  width: 100%;
  background-color:#e50914; 
  color: white;
  border: none;
  }
#remember{
  margin-right: 3px;
  accent-color: #333;}
#label{margin-right: auto;}

.login-content .info-div{
  display: flex;
  justify-content: space-between;
  color: #dbd3d3;}
.help{
  text-decoration: none;
  color: #dbd3d3;}
a{
  text-decoration: none;}
a:hover{
  text-decoration: underline;}
.signup-now{
  color: #a8a6a6;
  margin:50px 0 0 ;
  display: flex;
  flex-direction: column;
  }
#signup{color: rgb(243, 233, 233);}
article p:nth-child(2){
  margin-top: 10px;}
footer{
  align-items: center;
  justify-content: space-between;
  padding: 40px 250px 50px 200px;
  background: rgba(0, 0, 0, 0.75);
  margin-top: 50px;
  font-size: 0.8rem;


}
   
footer div a{
  margin:8px 0px;
  color: #a8a6a6;
}
footer div p{
  margin-right: auto;
  margin-bottom: 25px;
}
footer div ul{ 
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 15px;
  column-gap: 100px;
}
#container{
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem; 
  

}

@media (max-width: 1536px){
  #container{
    max-width: 1288px;
  }
  
}
@media (max-width: 1288px){
  #container{
    max-width: width 1024px;
  }
  
  
  
}
@media (max-width:1024px){
  #container{
    max-width: 768px;
  }
  footer{
    padding-left: 100px;
    padding-right: 50px;
  }
  footer div ul{ 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  white-space: nowrap;} 
  
}
@media (max-width: 768px){
  #container{
    max-width: 640px;
  }
  body::before{
    display: none;
  }
  .netflix-h{
    width: 180px;
    margin-left:5px;
  }
  h1{
    font-size: 35px;
  }
  article{
    width: 100%;
    padding: 20px;
    margin-top: 0px;
  }
  h1{
      padding-top:0;
  }
  .login-form-container{
    width: 100%;
    display: flex;
    flex-direction:column;
    padding: 0px;
  }
  .signup-now {
    margin-left: 0;
    
  }
  footer{
    padding: 10px;
    margin: auto;

  }
  .footer-divider{
    border-top: 1px solid #e5e5e5;
    height: 0;
    width: 100%;
  }
  footer div ul{
    grid-template-columns: 1fr 1fr 1fr;
  }
  
}
@media (max-width: 640px){
  #container{
    max-width: 475px;
  }
  footer{
    padding: 10px;
    margin:0 auto;
}
.footer-divider{
  border-top: 1px solid #e5e5e5;
  height: 0;
  width: 100%;
}
footer div ul{
  grid-template-columns: 1fr 1fr;
}
}
@media (max-width: 475px){
  #container{
    width: 100%
  }
  footer{
    padding: 10px;
    margin: auto;
}
.footer-divider{
  border-top: 1px solid #e5e5e5;
  height: 0;
  width: 100%;
}
}